
table{

    width: 100%;
}

table, td{

    border: 1px solid black;
    border-collapse: collapse;
}

.columna1{
background-color: aqua;

}

.columna2{

background-color:blueviolet;


}

.columna3{

    background-color: greenyellow;
}

caption{

    color: blue; 
    size: 15em;
}


td.menu {

    width: 25%; 
    
    background-color: lightyellow;
    
    }
    
    td.contenido {
    
    width: 50%;
    
    background-color: beige;
    
    }
    
    td.lateral {
    
    width: 25%;
    
    background-color: bisque;
    
    }