table, td{

    border: 1px solid black;
    border-collapse: collapse;
}

.columna1{
background-color: aqua;

}

.columna2{

background-color:blueviolet;


}

.columna3{

    background-color: greenyellow;
}